@charset "utf-8";

/* CSS Document */

* {
	margin: 0;
	padding: 0;
}

body {
	font-family: "微软雅黑";
}

.group {
	margin-top: 10px;
}

.forml {
	height: 40px;
}

.plogin {
	font-weight: bold;
	font-size: 16px;
}



/*==============section===============*/

#section>.container {
	background: url("../images/bg.jpeg") no-repeat;
	background-position: left;
	z-index: -10;
}

.sec {
	position: relative;
	height: 500px;
	margin: auto;
}

.ulogin,
.phonelogin {
	position: absolute;
	height: 420px;
	margin: auto;
	background-color: rgba(255, 255, 255, 0.7);
	z-index: 100;
}

.ulogin:hover,
.phonelogin:hover {
	box-shadow: 5px 5px 20px #666;
}

.ulogin {
	top: 0;
	bottom: 0;
	visibility: visible;
	opacity: 1;
	transition: all 0.5s ease-in;
}

.phonelogin {
	opacity: 0;
	visibility: hidden;
	top: -300px;
	transition: all 0.5s ease-out;
}

.ulo {
	opacity: 0;
	visibility: hidden;
	top: -300px;
}

.plo {
	top: 0;
	bottom: 0;
	visibility: visible;
	opacity: 1;
}


/*============button image================*/

.div1 {
	height: 440px;
	padding: 0;
	position: relative;
}

.div2 {
	height: 80%;
	width: 1px;
	border: 1px dashed #999;
	margin: 0 auto;
}

.xsd {
	position: absolute;
	bottom: 0;
}

.bt {
	position: absolute;
	width: 90px;
	height: 90px;
	top: 75%;
	left: 50%;
	margin-left: -45px;
	cursor: pointer;
}

.zz {
	position: absolute;
	width: 90px;
	height: 90px;
	top: 75%;
	left: 65%;
	display: none;
}

.bt:hover+.zz,
.bt1:hover+.zz1 {
	display: block;
}

.bt1 {
	position: absolute;
	width: 90px;
	height: 90px;
	left: 50%;
	top: 0px;
	margin-left: -45px;
	cursor: pointer
}

.zz1 {
	position: absolute;
	width: 90px;
	height: 90px;
	left: 65%;
	top: 0px;
	display: none;
}

.xsdh {
	width: 100%;
}


/* 忘记密码  免费注册 */

.urp {
	margin-right: 10px;
}

.utp,
.mfr {
	color: black;
	text-decoration: none;
}

.urp:hover,
.mfr:hover {
	color: #009dff;
	text-decoration: underline;
}


/*========登录方式============*/

.hand {
	margin-right: 10px;
}

.qie {
	position: fixed;
	height: 90px;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: rgba(221, 221, 221, 0.6);
}

.qhr {
	height: 90px;
}

.qhr div {
	margin-top: 45px;
	border: 1px dashed #999;
	height: 1px;
}



/*===================改变=========================*/

@media only screen and (max-width: 480px) {
	#section>.container {
		background: url("../images/bg02.jpg") no-repeat;
		background-position: bottom;
	}
}

@media only screen and (min-width: 480px) and (max-width: 767px) {
	#section>.container {
		background-position: center;
	}
}

@media only screen and (min-width: 768px) and (max-width: 969px) {
	#section>.container {
		background-position: center;
	}
}

@media only screen and (min-width:970px) and (max-width:1200px) {}
